.container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 500px;
    background-color: #E81A41;
    color: white;
    position: relative;
}
.leftpos{
    display: flex;
    justify-content: center;
    padding:50px ;
    width: 550px;
    height: 670px;
}
.leftpos img{
    margin-right:100px;
}
.rightpos{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.rightpos h2{
    width: 560px;
    height: 131px;
    font-size: 40px;
    padding-top: 100px;
    text-align: left;
}
.btn {
    background-color: #262E2E;
    padding-left: 50px;
    padding-right: 49px;
    border:none;
    border-radius: 35px;
    width: 250px;
    height: 71px;      
}
.btn a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.btn:hover {
    color: black;
    background-color: white;
    transition: 0.3s ease-in-out;
}
.btn a:hover {
    color: black;
}