.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 300px;
    margin-bottom: 300px;
}
.box{
    display: flex;
    justify-content: center;
}
.text{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 30%;
    margin-top: 150px;
    margin-right: 150px;
}
.text2{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 30%;
    margin-top: 150px;
    margin-left: 150px;
}