<!DOCTYPE html>
<html>
<head>
	<title>Resume Form</title>
</head>
<body>
	<h1>Resume Form</h1>
	    <form action="/cvInfo" method="post">

		<label for="name">Name:</label>
		<input type="text" id="name" name="name"><br>

		<label for="surname">Surname:</label>
		<input type="text" id="surname" name="surname"><br>

		<label for="dob">Date of birth:</label>
		<input type="date" id="dob" name="dob"><br>

		<label for="sex">Sex:</label>
		<input type="radio" id="male" name="sex" value="male">
		<label for="male">Male</label>
		<input type="radio" id="female" name="sex" value="female">
		<label for="female">Female</label><br>

		<label for="phone">Phone number:</label>
		<input type="tel" id="phone" name="phone"><br>

		<label for="experience">Work experience:</label><br>
		<label for="title">Title:</label>
		<input type="text" id="title" name="title"><br>
		<label for="company">Company name:</label>
		<input type="text" id="company" name="company"><br>
		<label for="startdate">Start date:</label>
		<input type="date" id="startdate" name="startdate">
		<label for="enddate">End date:</label>
		<input type="date" id="enddate" name="enddate"><br>

		<label for="education">Education:</label><br>
		<label for="degree">Degree:</label>
		<input type="text" id="degree" name="degree"><br>
		<label for="university">University name:</label>
		<input type="text" id="university" name="university"><br>
		<label for="graduationdate">Graduation date:</label>
		<input type="date" id="graduationdate" name="graduationdate"><br>

		<label for="skills">Skills:</label>
		<input type="text" id="skills" name="skills"><br>

		<input type="submit" value="Submit">
	</form>
</body>
</html>
