.container{
    width: 220px;
    height: 225px;
    margin-left: 800px;
    margin-top: -500px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.container p{
    color: #B8B8B8;
    font-size: small;
}
.editList{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
}
.text{
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
}